<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Vacina Online</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <p>Bem-vindo ao seu cartão de vacina online!</p>
  </div>

  <div>
    <ion-button color="secondary" expand="block" href="/cadastroVacina">
      <ion-icon name="medkit-outline"></ion-icon>  Cadastrar Vacina </ion-button>
    <ion-button color="secondary" expand="block" href="/vacinas">
      <ion-icon name="reader-outline"></ion-icon> Visualizar vacinas </ion-button>
    <ion-button color="secondary" expand="block" href="/cadastroDependente">
      <ion-icon name="person-add-outline"></ion-icon> Cadastrar dependente </ion-button>
    <ion-button color="secondary" expand="block" href="/dependentes">
      <ion-icon name="people-outline"></ion-icon> Visualizar dependentes </ion-button>
  </div>
</ion-content>

